ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7b21d  ;
    font-size: 30;
    font-family: Inconsolata;
    z-index:+2;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#be6e04;
    text-decoration: underline;
}

.active {
    background-color: #f7b21d;
}

#About{
    font-family: Inconsolata;
    font-size: 40;
    text-align: center;
    text-decoration: underline;
}

#Skill{
    background-color: #f7b21d;
    position: relative;
    font-family: Inconsolata;
    margin-top: 450;
    font-size: 40;
    text-align: center;
    text-decoration: underline;
}

#lang{font-family: Inconsolata;
    margin-top: 0;
    font-size: 40;
    text-align: center;
    text-decoration: underline;
}
#Education{
    font-family: Inconsolata;
    margin-top: 50;
    font-size: 40;
    text-align: center;
    text-decoration: underline;
}

#Exp{
    font-family: Inconsolata;
    margin-top: 50;
    font-size: 40;
    text-align: center;
    text-decoration: underline;
    
    }

.expa{background-color:black;
}

#start {position: absolute;
margin-left:150; margin-top: 150;
font-family: Inconsolata;}

.profile{position: absolute;
margin-left: 270;
font-family: Inconsolata;
}

.p1{position:absolute;
margin-left:600;
font-family: Inconsolata;
font-size: 18; }

.dc:hover{opacity: 0.4;
z-index: -1;
}

.dc{margin-left:270;
z-index: 2}

.srm:hover{opacity: 0.4;
z-index: -1;
}

.srm{margin-left:00;
z-index: 2}

.dca{position: absolute;
margin-left: 350; margin-top:50;
font-family: Inconsolata;
z-index: -1;
font-size: 18pt;}

.srma{position: absolute;
margin-left: 90; margin-top:50;
font-family: Inconsolata;
z-index: -1;
font-size: 18pt;}

.tableskill{margin-left: 300;
border-spacing: 50px;}

#cont{font-family: Inconsolata;
    margin-top: 50;
    font-size: 40;
    text-align: center;
    text-decoration: underline;
    background-color: #f7b21d;}

    #animation {  width: 180px;
    height: 170px;
    text-size: 12pt;
    background-color: black;
    position: relative;
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate-reverse;}

    @keyframes animation1 {
0%   {background-color:red; left:0px; top:0px;}
25%  {background-color:yellow; left:200px; top:0px;}
50%  {background-color:blue; left:200px; top:200px;}
75%  {background-color:green; left:0px; top:200px;}
100% {background-color:#f7b21d; left:0px; top:0px;}
}